.cm-s-light-table.CodeMirror {
	background-color: #202020;
    color:#ccc;
    padding-left: 10px;
}
.cm-s-light-table.CodeMirror .CodeMirror-gutters {
    border-color: #202020;
}
.cm-s-light-table.CodeMirror .CodeMirror-linenumbers {
	background-color: #202020;
    padding-right: 15px;
}
.cm-s-light-table.CodeMirror .CodeMirror-linenumber {
	color: #99997a;
}
.cm-s-light-table.CodeMirror .CodeMirror-lines {
	overflow: hidden;
    padding-left: 44px;
    margin-left: -44px;
}
.cm-s-light-table.CodeMirror .CodeMirror-cursor {
	border-left: 1px solid #ffffff;
}
.cm-s-light-table.CodeMirror .CodeMirror-cursor:before{
    content: '';
    display: inline-block;
    position: absolute;
    left: -5000px;
    right: 0;
    width: 9999px;
    overflow: hidden;
    height: 1.15em;
    background: rgba(255,255,255,.08);
    visibility:visible;
}
.cm-s-light-table.CodeMirror .CodeMirror-selected {
	background: #555555;
}

.cm-s-light-table.CodeMirror .CodeMirror-matchingbracket {
	border-bottom: 1px solid #33ffff;
    color: #ccc19b;
}
.cm-s-light-table.CodeMirror .CodeMirror-unmatchingbracket {
	border-bottom: 1px solid #cb3233;
    color: #cb3233;
}

/*
- comment
*/
.cm-s-light-table.CodeMirror .cm-comment { 
    color: #887b6e;
}

/*
- css property
- js object property
*/
.cm-s-light-table.CodeMirror .cm-property {
    color: #aaaaaa;
}
/*
- css class selector
*/
.cm-s-light-table.CodeMirror .cm-qualifier { 
    color: #aaeeab;
}
/*
- css tag selector
*/
.cm-s-light-table.CodeMirror .cm-tag { 
    color: #7ac1ff;
}
/*
- css @ rule
- js function parameter
*/
.cm-s-light-table.CodeMirror .cm-def { 
    color: #aaccff;
}
/*
- css number value
*/
.cm-s-light-table.CodeMirror .cm-number {
    color: #ccccab;
}
/*
- css hex color value
*/
.cm-s-light-table.CodeMirror .cm-atom { 
    color: #cc9dc7;
}
/*
- css color keyword
- js keyword
*/
.cm-s-light-table.CodeMirror .cm-keyword{
    color: #aacd80;
}
/*
- css value string
- js string
*/
.cm-s-light-table.CodeMirror .cm-string{
    color: #aadddd;
}
/*
- css value keyword
*/
.cm-s-light-table.CodeMirror .cm-string-2{
    color: #7ad1dd;
}
/*
- js global var
*/
.cm-s-light-table.CodeMirror .cm-variable { 
    color: #ccc19b; 
}
/*
- js scopped variable
*/
.cm-s-light-table.CodeMirror .cm-variable-2 { 
    color: #aaccff; 
}
/*
- html attribute
*/
.cm-s-light-table.CodeMirror .cm-attribute {
    color: #83e1b2;
}